body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #fdfeff, #d1deeb);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    background-color: #0056b3;
    padding: 12px 40px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-links a:hover {
    color: #00c6ff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}
